rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.token.email == "fnaticdoc@gmail.com";
    }

    match /users/{userId}/{document=**} {
      allow read, write: if isOwner() && request.auth.uid == userId;
    }

    match /spots/{document=**} {
      allow read: if isOwner();
      allow write: if false;
    }
  }
}
